---
http_interactions:
- request:
    method: get
    uri: http://www.google.com/uds/GwebSearch?filter=1&hl=en&key=notsupplied&q=slashdot&rsz=large&start=0&v=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Embedded-Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"responseData": {"results":[{"GsearchResultClass":"GwebSearch","unescapedUrl":"http://slashdot.org/","url":"http://slashdot.org/","visibleUrl":"slashdot.org","cacheUrl":"http://www.google.com/search?q\u003dcache:jo3aRe29uHsJ:slashdot.org","title":"\u003cb\u003eSlashdot\u003c/b\u003e:
        News for nerds, stuff that matters","titleNoFormatting":"Slashdot: News for
        nerds, stuff that matters","content":"35 minutes ago \u003cb\u003e...\u003c/b\u003e
        Source for technology related news with a heavy slant towards Linux and Open   Source
        issues."},{"GsearchResultClass":"GwebSearch","unescapedUrl":"http://science.slashdot.org/","url":"http://science.slashdot.org/","visibleUrl":"science.slashdot.org","cacheUrl":"http://www.google.com/search?q\u003dcache:yjiEhzydYzUJ:science.slashdot.org","title":"\u003cb\u003eSlashdot\u003c/b\u003e:
        News for nerds, stuff that matters","titleNo[...]
